/* git push -u origin main */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: poppins-regular;
    cursor: none;
    max-width: 100vw;
}
@font-face {
    font-family: poppins-regular;
    src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: playfair;
    src: url(/fonts/PlayfairDisplay-Italic.ttf);
}
html{
  background: black;
  cursor: none !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}
p{
    font-size: calc(15px + 0.390625vw);
}
h1{
    font-size: 7vw;
}
h2{
    font-size: 5vw;
}
.mix-blend-mode{
    mix-blend-mode: difference;
}
.cursor {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    top: 0;
    pointer-events: none;
}
.cursor-img{
    width: 100%;
    height: 100%;
}
.mouse {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    top: 0;
    pointer-events: none;
}
.mouse-img{
    width: 100%;
    height: 100%;
}
.relative{
    height: 100vh;
}
.content{
    position: relative;
    text-align: center;
    z-index: 0;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 98.8vw;
    animation: flyout linear;
    animation-timeline: view(block);
    animation-range: cover 55% cover 100%;
    overflow: hidden;
}
.flex-element{
    display: flex;
}
.block-element{
    display: block;
}
.verkleinert{
    font-size: x-large;
}
.nav{
    margin-right: 30px;
    text-align: right;
    margin-top: 10px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
}
.nav-link{
    text-decoration: none;
}
.nav-link span{
    margin: 0px;
}
.nav-link span:hover{
    margin: 10px;
    cursor: none;
}
.backlayer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000000;
    position: fixed;
    top: 0;
    pointer-events: none;
}

.padding{
    padding: 20px;
}
.rotating-star{
    position: absolute;
    mix-blend-mode: difference;
    height: 100vh;
    display: flex;
    top: 90px;
    margin-left: 22vw;
    animation: flyout-left linear;
    animation-timeline: view(block);
    animation-range: cover 50% cover 90%;
}
.rotate{
    width: 17vw;
    animation: rotate 9s linear infinite;
    transform-origin: 50% 50%;
}
.spalte{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.spalte1{
    width: 70vw;
    animation: zoom-out linear;
    animation-timeline: view(block);
    animation-range: cover 60% cover 100%;
}
.abb1{
    width: 60vw;
    position: relative;
    margin-right: 0;
    max-height: 50vw;
}
.first-child{
    display: flex;
}
.rechtsbuendig{
    text-align: right;
}
.font2{
    font-family: playfair;
    font-weight: 90;
}
.information{
    transform: translateX(60px);
    z-index: 1;
}
.sehr-gross{
    font-size: 10vw;
}
.parent{
    position: relative;
    overflow: hidden;
    display: flex;
}
.from-left{
    text-align: left;
}
.top-left{
    margin-left: 5vw;
    margin-top: 2vh;
    position: fixed;
}
.logo-icon{
    width: 13vw;
}
.menu-list-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rebeccapurple;
    z-index: 1;
    opacity: 0;
}
.menu-icon-container{
    right: 10%;
    top: 20px;
    position: fixed;
    z-index: 1;
    opacity: 1;
}
